body {
	width: 480px;
}

div#page-info {
	position: relative;
	top     : 0px;
	left    : 10px;
}

div.notebook-title-header {
	position: relative;
	top     : 5px;
	left    : 0px;
}

form#notebook-form {
	position: relative;
	margin  : 10px;
}

form#page-form {
	position: relative;
	margin  : 10px;
}
