<!DOCTYPE html>
<html>
<head>
	<meta charset = "utf-8">
	<title></title>
	<link rel="stylesheet" href="./css/bootstrap.css">
	<script src="./js/lib/jquery-2.1.1.min.js"></script>
	<script src="./js/lib/underscore.js"></script>
	<script src="./js/lib/backbone.js"></script>
	<script src="./js/lib/backbone.chromeStorage.min.js"></script>
	<script src="./js/dammy.js"></script>
	<script src="./js/models.js"></script>
	<script src="./js/container.js"></script>
	<script src="./js/dammyRouter.js"></script>
	<script src="./js/pageControlView.js"></script>
	<script src="./js/pageView.js"></script>
</head>
<body>

<div id="header-container" class="text-center"></div>
<div id="body-container"></div>

<!-- Backbone.js template -->

<script type="text/tamplate" id="page-control-view-template">
	<h2><%= title %></h2>
	<% if(typeof notebookId !== 'undefined') { %>
		<% if(before !== false) { %>
			<a href="#<%= notebookId %>/<%= before %>" class="btn btn-default">前のページ</a>
		<% } else { %> 
			<button class="btn btn-default" disabled="disabled">前のページ</button>
		<% } %>
		<% if(next) { %>
			<a href="#<%= notebookId %>/<%= next %>" class="btn btn-default">次のページ</a>
		<% } else { %> 
			<button class="btn btn-default" disabled="disabled">次のページ</button>
		<% } %>
	<% } %>
</script>

<script type="text/tamplate" id="page-view-template">
	<%= body %>
	<div id="styles">
	</div>
</script>

</body>
</html>


