<!DOCTYPE html>
<html>
<head>
	<meta charset = "utf-8">
	<title></title>
	<script src="./js/lib/jquery-2.1.1.min.js"></script>
	<script src="./js/lib/underscore.js"></script>
	<script src="./js/lib/backbone.js"></script>
	<script src="./js/lib/backbone.localStorage.js"></script>
	<script src="./js/dammy.js"></script>
	<script src="./js/models.js"></script>
	<script src="./js/container.js"></script>
	<script src="./js/pageView.js"></script>
</head>
<body>

this is dammy page.
<div id="body-container"></div>

<script type="text/tamplate" id="page-view-template">
	<h1><%= title %></h1>
	<%= body %>
</script>

</body>
</html>


